<!--The content below is only a placeholder and can be replaced.-->
<!--<script>$(document).ready(function(c) {-->
  <!--$('.close').on('click', function(c){-->
    <!--$('.login-form').fadeOut('slow', function(c){-->
      <!--$('.login-form').remove();-->
    <!--});-->
  <!--});-->
<!--});-->
<!--</script>-->
<!--&lt;!&ndash;SIGN UP&ndash;&gt;-->
<!--<h1>klasikal Login Form</h1>-->
<!--<div class="login-form">-->
  <!--<div class="close"> </div>-->
  <!--<div class="head-info">-->
    <!--<label class="lbl-1"> </label>-->
    <!--<label class="lbl-2"> </label>-->
    <!--<label class="lbl-3"> </label>-->
  <!--</div>-->
  <!--<div class="clear"> </div>-->
  <!--<div class="avtar">-->
    <!--<img src="assets/images/avtar.png" />-->
  <!--</div>-->
  <!--<form>-->
    <!--<input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" >-->
    <!--<div class="key">-->
      <!--<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">-->
    <!--</div>-->
  <!--</form>-->
  <!--<div class="signin">-->
    <!--<input type="submit" value="Login" >-->
  <!--</div>-->
<!--</div>-->
<!--<div class="copy-rights">-->
  <!--<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
<!--</div>-->
<div class="page-container">
  <h1 align="center">Login</h1>
  <form action="" method="post">
    <input type="text" name="username" class="username" placeholder="Username">
    <input type="password" name="password" class="password" placeholder="Password">
    <button type="submit">Sign me in</button>
    <div class="error"><span>+</span></div>
  </form>
  <div align="center" class="connect">
    <p>Or connect with:</p>
    <p>
      <a class="facebook" href=""></a>
      <a class="twitter" href=""></a>
    </p>
  </div>
</div>
<div align="center">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></div>
