<body>
<h1> Login </h1>
<div class="login-form">
  <div class="close"> </div>
  <div class="head-info">
    <label class="lbl-1"> </label>
    <label class="lbl-2"> </label>
    <label class="lbl-3"> </label>
  </div>
  <div class="clear"> </div>
  <div class="avtar">
    <img src="{{loginImagesUrl}}/avtar.png" />
  </div>
  <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
    <div class="copy-rights">
      <p *ngIf="(!username.pristine&&username.invalid||username.touched&&username.invalid)||!userpwd.pristine&&username.invalid&&username.touched&&username.invalid">请填写用户名</p>
      <p *ngIf="(!userpwd.pristine&&userpwd.invalid||userpwd.touched&&userpwd.invalid)||!username.pristine&&userpwd.invalid&&userpwd.touched&&userpwd.invalid">请填写密码</p>
      <!--<p *ngIf="loginForm.form.dirty&&loginForm.form.pristine">请填写用户名，密码</p>-->
    </div>
    <input type="text" name="username" #username="ngModel" [(ngModel)] = "loginUser.userName" required  class="text" placeholder="Username">
    <input type="password" name="password" #userpwd="ngModel" [(ngModel)] = "loginUser.passWord"  required  placeholder="Password">
    <div class="signin" >
      <button type="submit"  >Login</button>
    </div>
  </form>
</div>
<div class="copy-rights">
  <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.mycodes.net/" target="_blank" title="源码之家">源码之家</a></p>
</div>
</body>
