<div class="page-container">
  <h1 align="center">Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm.form.valid)">
    <input type="text" name="username" #username="ngModel" [(ngModel)] = "loginUser.userName" required  class="username" placeholder="Username">
    <!--<p *ngIf="!username.pristine&&username.invalid||username.touched&&username.invalid">用户名由英文字母和数字组成的6-16位字符,以字母开头</p>-->
<!--pattern="^[a-zA-Z][a-zA-Z0-9]*"   minlength="6"  -->
    <input type="password" name="password" class="password" #userpwd="ngModel" [(ngModel)] = "loginUser.passWord"  required  placeholder="Password">
    <button type="submit">Login</button>
    <br/>
    <nav>
    <a routerLink="/regist" routerLinkActive="active">regist</a>
    </nav>
    <div class="error"><span>+</span></div>
  </form>
  <div align="center" class="connect">
    <p>Or connect with:</p>
    <p>
      <a class="facebook" href=""></a>
      <a class="twitter" href=""></a>
    </p>
  </div>
</div>

<!--<div align="center">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">状元小帮手</a></div>-->
