<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Default bean name is 'mongo' -->
    <!-- 连接池配置详细查看http://api.mongodb.org/java/2.7.2/com/mongodb/MongoOptions.html#connectionsPerHost
        或者http://www.cnblogs.com/huangfox/archive/2012/04/01/2428947.html
    -->
    <mongo:mongo host="${datasource.host}" port="${datasource.port}">
        <!--<mongo:options connections-per-host="10"-->
        <!--threads-allowed-to-block-for-connection-multiplier="10"-->
        <!--auto-connect-retry="true" />-->
    </mongo:mongo>


    <!-- Spring提供的mongodb操作模板-->
    <bean id="mongoTemplate"
          class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongo" />
        <constructor-arg name="databaseName" value="${datasource.dbname}" />
    </bean>

</beans>