<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- write concern(write-number):: NONE: -1, NORMAL: 0, SAFE: 1 (default),  FSYNC_SAFE: 2, REPLICAS_SAFE: 3, JOURNAL_SAFE: 4, MAJORITY: 5 -->
    <mongo:mongo-client id="mongo-client" host="${mongo.host}" port="${mongo.port}"
                        credentials="${mongo.username}:${mongo.passwd}@${mongo.dbname}">
        <mongo:client-options
                connections-per-host="${mongo.connectionsPerHost}"
                threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
                connect-timeout="${mongo.connectTimeout}"
                max-wait-time="${mongo.maxWaitTime}"
                socket-timeout="${mongo.socketTimeout}"/>

    </mongo:mongo-client>

    <!-- 设置使用的数据库 名-->
    <mongo:db-factory dbname="${mongo.dbname}" mongo-ref="mongo-client"/>

    <!-- Spring提供的mongodb操作模板-->
    <bean id="mongoTemplate"
          class="org.springframework.data.mongodb.core.MongoTemplate">
        <!--<constructor-arg ref="mongo-client" />-->
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

</beans>